.product-overview {
  width: 100%;
  height: 528px;
  background-image: url('./freedom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.overview-title {
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-left: 40px;
}
.plans-section__title {
  color: #19b84c;
  font-weight: bold;
  font-size: 28px;
  margin-left: 40px;
  text-align: center;
}

.plans {
  width: 80%;
  margin: auto;
}
.plan {
  width: 29%;
  padding: 16px;
  background-color: #d5ffdc;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  vertical-align: middle;
}

.plan-item {
  margin: 8px 0px;
}
.plan-price {
  color: #858585;
}
.plan-plus {
  background-color: #19b84c;
}
.plan-plus__batch {
  background-color: white;
  color: #19b84c;
  border-radius: 15px;
  padding: 6px 0;
}

.plan-title__plus {
  color: white;
}

.plan-item__plus,
.plan-description__plus {
  color: white;
}

.plan-price__plus {
  color: #0e4f1f;
}

.btn-primary {
  background-color: #0e4f1f;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #0e4f1f;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:active {
  color: #0e4f1f;
  background-color: white;
  border: 2px solid #0e4f1f;
}

.btn-primary:focus {
  outline: none;
}

/* features styles  */

.featrues {
  background-color: #ff1b68;
  width: 100%;
  padding: 16px 32px;
  margin: 16px 0;
  text-align: center;
}

.feature {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  padding: 16px 16px;
}

.feature-section__title,
.feature-desc {
  color: white;
}

.feature-image {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
  margin: auto;
}
