/* Universal styles */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Header styles */
  
  .main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
  }
  
  .logo {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 25%;
    padding-left: 60px;
  }
  .logo a {
    color: #0e4f1f;
    font-weight: bold;
    font-size: 24px;
  }
  
  .main-nav {
    display: inline-block;
    width: calc(100% - 26%);
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
  }
  
  .nav-item {
    display: inline-block;
  }
  
  .nav-item {
    margin: 0 16px;
    padding: 4px 0;
  }
  .nav-item a {
    color: #0e4f1f;
    padding: 3px 0;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-item a:hover,
  .nav-item a:active {
    border-bottom: 4px solid white;
    color: white;
  }
  .nav-item__hosting a {
    padding: 8px 16px;
    background-color: #ff1b68;
    border: none;
    color: white;
    border-radius: 8px;
  }
  
  .nav-item__hosting a:hover,
  .nav-item__hosting a:active {
    border: none;
    background-color: white;
    color: #ff1b68;
  }
  
  /* footer styles */
  
  .main-footer {
    width: 100%;
    background-color: black;
    padding: 32px 16px;
    margin-top: 44px;
    text-align: center;
  }
  
  .footer-item {
    display: inline-block;
    margin: 0 16px;
  }
  .footer-item a {
    color: white;
    font-weight: bold;
  }
  