.package {
  width: 80%;
  border: 4px solid #0e4f1f;
  border-left: none;
  padding: 44px 18px;
  margin: 24px 0;
  text-align: left;
  cursor: pointer;
  background-color: rgba(213, 255, 220, 0.95);
}

.package-subtitle {
  color: #979797;
}

.package-desc {
  padding: 24px 16px;
  border: 2px solid #0e4f1f;
}
.package-premium{
    background-color: #0e4f1f;
}
.premium-package__title{
    color :white
}

.package-premium__desc{
 background-color: white;
 padding: 16px 16px
}

.package:hover{
    border: 4px solid gray;
    border-left: none;
}

.package-free{
    text-align: right;
    margin-left: 20%;
    border-left: 4px solid #0e4f1f;
    border-right: none;
}

.package-free:hover{
 border-left: 4px solid gray;
 border-right: none;
}